<div class="row">
  <div class="col-xs-2"></div>
  <div class="col-xs-8">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-header">Admin Panel</h3>
      </div>
      <div class="panel-body">
        <p><%= link_to "Review Entries", review_index_path %></p>
        <p><%= link_to "Settings", admin_settings_path %></p>
      </div>
    </div>
  </div>
  <div class="col-xs-2"></div>
</div>
