<div id="banner">
</div>
<div class="content">
  <h1>Welcome to the OSU Libraries and Press Civility Tracker</h1>
</div>
<div class="content">
  <div class="left"></div>
  <div id="civil_entries">
    <table class="table">
      <thead>
        <tr>
          <th>Card Number</th>
          <th>Received</th>
          <th>Location</th>
        </tr>
      </thead>
      <tbody>
        <% @civil_entries.each do |civil_entry| %>
          <tr>
            <td><%= civil_entry.serial %></td>
            <td><%= civil_entry.created_at_formatted %></td> 
            <td><%= civil_entry.address %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <div class="pull-left">
    <p>
    Want to know more about <a href="http://library.oregonstate.edu/civility">Civility at OSU</a>?
    </p>
  </div>
  <div id="civil-map">
  </div>
  <div class="right">
  </div>
</div>
