body, html, #main {
  height: 100%;
}
#main {
  @extend .container-fluid;
}

.spacer {
  @include make-row();
  height: 20%;
}

.card {
  @include make-row();
  height: 60%;
  .card-column {
    @include make-lg-column(8);
  }
}

#civil-entries {
  margin-right: 10px;
}

#civil-map {
  margin-left: 10px;
  margin-bottom: 10px;
  min-height: 600px;
}

#title {
  text-align: center;
}

#title-row {
  background-color: #373737;
  color: #f5f2ed;
  margin: 0 -100px 45px -100px;
}

.page-content {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -120px;
  text-align: center;
}

.footer, .push {
  height: 120px;
}

#footer-row {
  background-color: #373737;
  margin-top: 45px;
  height: 120px;
  color: #f5f2ed;
}

#navlinks {
  display: block;
  list-style-type: none;
  margin: auto 0 auto 0;
}

.link {
  margin-top: 15px;
  width: 100px;
  height: 15px;
  color: #a7c4c9;
}

.link > a:hover {
  background-color: #eeb111;
}
