body, html, #main {
  height: 100%;
}
#main {
  @extend .container-fluid;
  text-align: center;
}
.spacer {
  @include make-row();
  height: 20%;
}
.card {
  @include make-row();
  height: 60%;
  .card-left {
    @include make-lg-column(2);
  }
  .card-right {
    @include make-lg-column(2);
  }
  .card-column {
    @include make-lg-column(8);
  }
}
