body, html, #main {
  height: 100%;
}
#main {
  @extend .container-fluid;
}

#home-pane {
  margin-top: 45px;
}
.flash_messages {
  margin-top: 1em;
}
.spacer {
  @include make-row();
  height: 20%;
}

.card {
}

#civil-entries {
  // margin-right: 10px;
}

#civil-map {
  // margin-left: 10px;
  margin-bottom: 10px;
  min-height: 600px;
}

#map.tab-pane {
  padding-top: 1em;
}

#entries.tab-pane {
  padding-top: 1em;
}

#title {
  text-align: center;
}

#title-row {
  background-color: #373737;
  color: #f5f2ed;
  margin-bottom:0px
}

.page-content {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  // margin: 0 auto -120px;
  text-align: center;
}

.footer, .push {
  height: 120px;
}

#footer-row {
  background-color: #373737;
  margin-top: 45px;
  height: 120px;
  color: #f5f2ed;
}

#navlinks {
  display: block;
  height: 100%;
  list-style-type: none;
  // margin: 45px 0 auto 0;
}

.link {
  margin-top: 15px;
  // width: 130px;
  // height: 25px;
  color: #a7c4c9;
}

.link:hover {
  background-color: #a7c4c9;
  color: #385e86;
}

#osu-logo {
  margin-top: 25px;
}
.card-action {
  margin-bottom: 15px;
}
.sunlogo-xs {
  display: none;
}

.card input.form-control, .card textarea.form-control {
    font-size: 16px;
}

div.dataTables_filter input {
    width: 14em;
}

@media (max-width: 768px) {
  #title h1{
    font-size: 21px;
  }
  .sunlogo-xs {
    display: block;
  }
  .sunlogo-md {
    display:none;
  }

}
