<div class="row" id="footer-row">
  <div class="col-xs-12">
    <a href="library.oregonstate.edu" class="pull-left">
      <%= image_tag "osul-logo.png", :id => "osu-logo" %>
    </a>
  </div>
</div>
